# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Virtual environments
.venv/
env/
venv/

# IDEs and editors
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Hugging Face / Gradio flagging
src/.gradio/flagged/

# Big images (we keep only optimized gallery & small samples)
gallery/
artifacts/
#optimized_gallery/

# If you want to keep optimized_gallery for deployment, comment the above line
# optimized_gallery/
